<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-dark text-white">
                    <h5 class="mb-0">Customer Informations</h5>
                </div>
                <div class="card-body">
                    <form method="post" th:action="@{/new}" th:object="${customer}">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">First Name</label>
                                <input class="form-control" type="text" th:field="*{firstName}" />
                                <div class="text-danger small"
                                     th:errors="*{firstName}">
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Last Name</label>
                                <input class="form-control" type="text" th:field="*{lastName}" />
                                <div class="text-danger small"
                                     th:errors="*{lastName}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Email</label>
                                <input class="form-control" type="email" th:field="*{email}" />
                                <div class="text-danger small"
                                     th:errors="*{email}">
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Score</label>
                                <input class="form-control" type="number" th:field="*{score}" />
                                <div class="text-danger small"
                                     th:errors="*{score}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Date of Birth</label>
                                <input class="form-control" type="date" th:field="*{birthDate}" />
                                <div class="text-danger small"
                                     th:errors="*{birthDate}">
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <button class="btn btn-dark" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>